
.group {
text-align: center;
white-space: nowrap;
overflow: hidden;
}

.item {
width: 15vw;
height: 45vh;
background-position: center;
background-size: 75vh;
margin: 1vw;
border-radius: 2vw;
display: inline-block;
cursor: pointer;
}