
.logo {
  height: 4em;
  padding: 0 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes logo-balance {
  from {
    transform: rotate(-30deg);
  }
  to {
    transform: rotate(30deg);
  }
}

@keyframes icon-animation {
  from {
    transform: rotate(0deg);
    transform-origin: bottom right;
  }
  to {
    transform: rotate(10deg);
    transform-origin: bottom right ;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .react {
    animation: logo-spin infinite 20s linear;
  }

  .seoG {
    animation: logo-balance infinite alternate 3s linear;
    
  }

  .php {
    animation: icon-animation 5s infinite alternate ease-in-out;
  }
}

.card {
  padding: 2em;
}